body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#chat {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

#send-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}